<footer>
 <div class="row">
                <div class="col-lg-12 footer">
                <img src="https://www.yourkit.com/images/yklogo.png" alt="Yourkit Logo"><br/>
                
                We are using YourKit <br/>
              YourKit supports open source projects with its full-featured Java Profiler.<br/>
YourKit, LLC is the creator of <a href="https://www.yourkit.com/java/profiler/">YourKit Java Profiler</a><br/>
and <a href="https://www.yourkit.com/.net/profiler/">YourKit .NET Profiler</a>,<br/>
innovative and intelligent tools for profiling Java and .NET applications.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 footer">
               {{site.data.strings.copyright_line}}<br />
{% if page.last_updated %}<p>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
                </div>
            </div>
        </footer>
